.cards {
	display: flex;
    flex-flow: column nowrap;
	gap: 10px;
	width: 90%;
	margin: 0 auto;
}
.cards .card {
	width: 18rem;
    height: 18rem;
}
.cards .card {
    opacity: .6;
    transition: all .3s ease-in-out;
}
.cards .card:hover {
    opacity: 1;
}
.cards .card:first-child {
	min-width: 30rem !important;
    height: 30rem !important;
}
