#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header #site-logo {
    /* float:left; */
    display: flex;
    flex-direction: column;
    background-color: aqua;
}