#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #283618;
}

#header #site-logo {
    display: flex;
    flex-direction: column;
}