nav {
    font: 25px 'Barlow Condensed', sans-serif;
}

#site-nav ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
    margin-right:10px;
}

#site-nav ul li {
    margin-left: 20px;
}

.active {
    text-decoration: none;
    color: #BC6C25;
    transition: color 0.3s ease-in;
}

.inactive {
    text-decoration: none;
    color: #DDA15E;
    transition: color 0.3s ease-in;
}